<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      {% load static %}
      <title>P8</title>
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template -->
      <link href= '{% static "offapp/css/styles.css" %}' rel="stylesheet">
   </head>
    <p>bonjour à tous</p>
    </body>
</html>
